body {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

header{
    margin: 0;
    text-align: center;
}

.header {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    border: 1px solid #000000;
}

.image2 {
    position: absolute;
    width: 280px;
    height: 200px;
    top: 0;
    left: 0;
    border: 1px solid #000000;
}

.primera_fuerza{
    float: left;
    width: 425px;
    height: 350px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 50px;
}

.block{
    width: 400px;
    height: 300px;
}

.segunda_fuerza{
    float: right;
    width: 425px;
    height: 350px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 50px;
}

.second{
    width: 400px;
    height: 300px;
}