body {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

header{
    margin: 0;
    text-align: center;
}

.header {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    border: 1px solid #000000;
}

.image2 {
    position: absolute;
    width: 280px;
    height: 200px;
    top: 0;
    left: 0;
}

.primera_fuerza{
    float: left;
    width: 30%;
    height: 350px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 50px;
    padding-left: 30px;
}
.block{
    width: 300px;
    height: 400px;
}

.highlights{
    float: left;
    width: 33%;
    height: 350px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 50px;
}
.video{
    width: 300px;
    height: 400px;
}

.segunda_fuerza{
    float: right;
    width: 30%;
    height: 350px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 50px;
    padding-right: 30px;
}

.second{
    width: 300px;
    height: 400px;
}